/* Global styles */

.custom_color {
  color: #00ad8d;
  font-family: "Satisfy", cursive;
  font-weight: 800;
  text-transform: uppercase;
}

.custom_color_2 {
  background-color: #00ad8d;
}
.custome-letter-spacing {
  letter-spacing: 2px;
}

.custom_card {
  transition: all 0.5s;
  overflow: hidden;
}

.custom_card:hover {
  box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.82);
}

.custom_card_img {
  transition: all 0.6s;
}

.custome_card_hover:hover .custom_card_img {
  transform: scale(1.07);
}

.custom_google_icon {
  font-size: 2rem;
  margin-left: 10px;
}
